:plain
  Here is your Invitation Summary:

  Processed: #{ @processed_count }
  Invited: #{ @invited_count }
  Already Invited: #{ @already_invited_count }
  Invalid: #{ @invalid_count}
  Failed: #{ @failed_count }